@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-navy: #001F3F;
  --primary-white: #FFFFFF;
}

body {
  color: var(--primary-white);
  background-color: var(--primary-navy);
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
