fastapi
uvicorn[standard]
supabase
langgraph
langchain
langchain-groq
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
pydantic
pydantic-settings
python-dotenv
itsdangerous
httpx
python-multipart
